body {
  padding: 0px;
  margin: 0px;
  font-family: "Calibri";
  font-size: 0.6rem;
  height: 100vh;
  max-height: 100vh;
  background: linear-gradient(
    to top left,
    rgba(144, 161, 254, 0.5),
    rgba(41, 255, 205, 0.5)
  );
}

.canvas {
  left: -200px;
  top: -200px;
  position: relative;
}

p {
  margin: 0px;
  padding: 0px;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

#container {
  width: 90vw;
  height: 90vh;
  margin: auto auto;
  overflow: hidden;
  border: solid 1px black;
  border-radius: 30px;
  position: relative;
  top: 5vh;
}

#container:p {
  text-align: center;
}

#canvasBox1 {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  position: relative;
  padding: 30px;
}

#canvasBox2 {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 0 0.5rem 2rem rgba(124, 124, 124, 0.85);
}
/* canvas {
  z-index: -1;
} */

#parameteresBox {
  width: 30%;
  height: 100%;
  float: left;
  background-color: #9a9a9a;
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
  overflow: auto;
}

.sld {
  appearance: none;
  border-radius: 20px;
  width: 80%;
  height: 10px;
  opacity: 1;
  float: left;
  left: 30px;
  margin: 5px 0px;
}
.sld::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #4e4e4e;
  cursor: pointer;
}

.form {
  width: 100%;
  float: left;
  border-radius: 50px;
  background-color: #fefefe;
  margin: 5px 0px;
  padding: 3px;
  font-size: 0.6rem;
  text-align: center;
}
.check {
  border-radius: 2px;
  width: 20px;
}

.val {
  float: right;
  text-align: center;
  width: 15%;
  margin-bottom: 0.7rem;
  padding: 2px;
  background-color: #d4d4d4;
  box-sizing: border-box;
  border-radius: 10px;
}

.clear {
  clear: both;
}
label {
  display: block;
}
